<div class="personasContainer" *ngIf="personas">
  <h2>PhoneBook</h2>
  <h3>Filtra contactos por nombre, región o comuna</h3>
  <input type="email" class="form-control" id="search-text" aria-describedby="search-text" [(ngModel)]="searchText"
    placeholder="Escribe acá el texto a buscar" autofocus>
  <app-persona (click)="showThisContactDetail(persona)" *ngFor="let persona of personas | appFilter: searchText"
    [persona]="persona">
  </app-persona>
  <div *ngIf="showAppDetail">
    <app-persona-detail [thePerson]="personOfInterest" (closeModal)="hideModal($event)">
    </app-persona-detail>
  </div>
</div>
