.personaContainer{
  display: flex;
  margin: 0 auto;
  width: 90%;
  padding:1%;
  box-sizing: border-box;
  box-shadow: 0 2px 3px #333;
  margin-bottom: 1%;
  cursor: pointer;
}

.personaTitle{
  background-color: rgb(230, 227, 227);
  box-shadow: 0 2px 3px rgb(116, 115, 115);
  padding:5.5% 3% 3% 3%;

}

.infoCardBlock{
  padding: 3%;
}

.notActive{
  border: 1px solid rgb(243, 72, 72);
}

.invalidRut{
  border: 1px solid rgb(173, 57, 57);
}
