/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  margin: 0 auto;
}
body {
  margin: 5%;
  font-family:
  Roboto, "Helvetica Neue", sans-serif;
}

h4{
  font-size: 1.2rem;
}
h3{
  font-size:1.3rem;
}

input{
  width: 90%;
  margin-left: 5%;
}
